<!Doctype html>
<head>
  <%- include ('./partials/head') %>
  <title>About Us</title>
  <style>
    </style>
</head>
<body>
  <%- include ('./partials/header') %>
  <h1 id = "titleText">About Us</h1>
</body>
