<!DOCTYPE html>
<head>
  <%- include ('./partials/head') %>
  <title>Covid19 Visualization</title>
  <style>
    #errMsg {
      margin-top: 150px;
      font-family: "Open Sans", sans-serif;
      text-align: center;
    }
  </style>
</head>
<body>
  <%- include ('./partials/header') %>
  <h1 id = "errMsg">Sorry, we're currently unavailable. Please come back again later!</h1>
</body>
