<!DOCTYPE html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
  <title>Covid19</title>
  <style>
body {
  margin-top: 10vh;
}
  #prompt {
    margin: 0 auto;
    text-align: center;
    font-family: "Open Sans", sans-serif;
  }
  #prompt h1 {
    padding: 0 3vw;
  }
  </style>
</head>
<body>
  <div id="prompt">
    <h1>Thank you for your message!</h1><br />
    Click <a href="/pi">here</a> to go to the message dashboard!<br />
    Or click <a href="/covid19">here</a> to see what everyone else in Singapore is feeling about the virus!<br />
    Or click <a href="https://twitter.com/sevenbeets">here</a> to see our Twitter account!<br />
  </div>
</body>
